sudo: required
dist: trusty

branches:
  only:
    - "master"

language: python

python:
- '2.7'

env:
    - CKANVERSION=2.8

services:
    - docker
    - redis-server
    - postgresql

install:
    - bash bin/travis-build.bash

script: bin/travis-run.sh
