{#
  Custom search form for organizations, so we can use the ogdch_organization_filter data module.
#}

{% import 'macros/form.html' as form %}

<form {% if form_id %}id="{{ form_id }}" {% endif %}class="search-form{% if no_bottom_border %} no-bottom-border{% endif %}" method="get" data-module="ogdch_organization_filter">

{% block search_input %}
  <div class="input-group search-input-group">
    <input id="ogdch_search" type="search" aria-label="{% block header_site_search_label %}{{ placeholder }}{% endblock %}" id="field-giant-search" type="text" class="form-control input-lg" name="q" value="{{ query }}" autocomplete="off" placeholder="{{ placeholder }}">
    {% block search_input_button %}
    <button class="btn btn-default btn-lg" type="submit" value="search" aria-label="{{_('Submit')}}">
      <i class="fa fa-search"></i>
    </button>
    {% endblock %}
  </div>
{% endblock %}

{% block search_search_fields %}
  {% if fields -%}
    <span>{{ form.hidden_from_list(fields=fields) }}</span>
  {%- endif %}
{% endblock %}

</form>
