{% ckan_extends %}
{% import 'macros/form.html' as form %}
{% block disclaimer %}
{% endblock %}

{% block basic_fields %}
  {{ form.required_message() }}
  {%- if not dataset_type -%}
    <p>
    dataset_type not passed to template. your version of CKAN
    might not be compatible with ckanext-scheming
    </p>
  {%- endif -%}
  {%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}
  {%- for field in schema.dataset_fields -%}
    {% if field.section_title %}
       <h2 id="{{ "ogdch_" + field.field_name + "_pagemark" }}">
           {{ h.scheming_language_text(field.section_title) }}
       </h2>
    {% endif %}
    <div class="ogdch-form-field-group">
      {% if field.fieldgroup %}
        <h3>
        {% if field.mark_required %}
          <span title="{{ _('This field is required') }}" class="control-required">*</span>
        {% endif %}
          {{ h.scheming_language_text(field.fieldgroup) }}
        </h3>
      {% endif %}
      {%- if field.form_snippet is not none -%}
        {%- snippet 'scheming/snippets/form_field.html',
          field=field, data=data, errors=errors, licenses=c.licenses,
          entity_type='dataset', object_type=dataset_type -%}
      {%- endif -%}
      {% if field.fieldgroup_help_text %}
        {{- form.info(
          text=h.scheming_language_text(field.fieldgroup_help_text),
          inline=field.get('help_inline', false)
        ) -}}
      {%- endif -%}
    </div>
  {%- endfor -%}

  <div class="ogdch-form-field-group">
    {% set groups = h.get_localized_group_list(h.lang()) %}
    {% if groups %}
      <h2 id="ogdch_groups_pagemark">
             {{ _("Categories") }}
      </h2>
      <div class="form-group control-medium">
        <div class="controls">
          {% for group in groups %}
            <label class="checkbox" for="field-group-{{ loop.index0 }}">
              <input id="field-group-{{ loop.index0 }}" type="checkbox" name="groups__{{ loop.index0 }}__id" value="{{ group.id }}" {% if h.group_id_in_groups(group.id, data.get('groups', [])) %}checked{% endif %} />
              {{ group.title }}
            </label>
          {% endfor %}
        </div>
      </div>
      {{- form.info(
        text= _('Here you can choose one or more categories to which the data set relates. Defining a category increases the findability of the data.')
      ) -}}
    {% endif %}
  </div>

  {%- if 'resource_fields' not in schema -%}
    <!-- force controller to skip resource-editing step for this type -->
    <input type="hidden" name="_ckan_phase" value="" />
  {%- endif -%}
{% endblock %}
