{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
      <h1 class="page-heading">{{ _("opendata.swiss CKAN backend") }}</h1>
      <p>
        {% trans %}Welcome to the CKAN backend of opendata.swiss.
        Here you can add and edit datasets, organizations, categories and showcases.
        You can also create and run data harvesters.
        {% endtrans %}
      </p>
  </header>

  {% block home_image %}
    <section class="featured media-overlay hidden-xs">
      {% block home_image_content %}
        <a class="media-image" href="#">
          <img class="img-responsive" src="/images/logo_horizontal.png" alt="opendata.swiss" width="420" height="220" />
        </a>
      {% endblock %}
    </section>
  {% endblock %}
</div>
