<div class="module-promotion card box">
  <div>
      <h1 class="page-heading">{{ _("opendata.swiss CKAN backend") }}</h1>
      <p>
        {% trans %}Welcome to the CKAN backend of opendata.swiss.
        Here you can add and edit datasets, organizations, categories and showcases.
        You can also create and run data harvesters.
        {% endtrans %}
      </p>
  </div>

  {% block home_image %}
    <section class="featured media-overlay hidden-xs">
      {% block home_image_content %}
        <a class="media-image" href="#">
          <img class="img-fluid" src="{{ h.url_for_static('/images/logo_horizontal.png') }}" alt="opendata.swiss" />
        </a>
      {% endblock %}
    </section>
  {% endblock %}
</div>
