{#
Displays a sidebard module with information for given package

pkg    - The showcase package dict that owns the resources.

Example:

  {% snippet "package/snippets/info.html", pkg=pkg %}

#}
{% block package_info %}
  {% if pkg %}
    <section class="module module-narrow">
      <div class="module context-info">
        <div class="module-content">
          {% block package_info_inner %}
            {% block heading %}
              <h1 class="heading">{{ pkg.title or pkg.name }}</h1>
            {% endblock %}
            {% if pkg.author %}
                <span class="smallest">{{_('Submitted by')}}</span>
                <p>{{ pkg.author }}</p>
                {% if pkg.author_twitter %}
                    <a href="{{ pkg.author_twitter }}" target="_blank">
                          <i class="fa fa-external-link"></i> {{ pkg.author_twitter }}
                    </a>
                    <br>
                {% endif %}
                {% if pkg.author_github %}
                    <a href="{{ pkg.author_github }}" target="_blank">
                          <i class="fa fa-external-link "></i> {{ pkg.author_github }}
                    </a>
                {% endif %}
            {% endif %}
            {% if pkg.url %}
              <div class="info">
                <a class="btn btn-primary" href="{{ pkg.url }}" target="_blank">
                  <i class="fa fa-external-link icon-external-link"></i> {{ _('Launch website') }}
                </a>
              </div>
            {% endif %}
          {% endblock %}
        </div>
      </div>
    </section>

    <section class="module module-narrow">
      <h3 class="module-heading"><i class="fa fa-sitemap icon-medium icon-sitemap"></i> {{ _('Datasets in Showcase') }}</h3>
      {% if showcase_pkgs %}
        <ul class="nav nav-simple">
        {% for package in showcase_pkgs %}
          {% set truncate_title = truncate_title or 80 %}
          {% set title = package.title or package.name %}
          <li class="nav-item">{{ h.link_to(title|truncate(truncate_title), h.url_for('dataset.read', id=package.name)) }}</li>
        {% endfor %}
        </ul>
      {% else %}
        <p class="module-content empty">{{_('These datasets are not (yet) available on opendata.swiss.')}}</p>
      {% endif %}
    </section>

    <section class="module module-narrow">
      <h3 class="module-heading"><i class="fa fa-folder-open icon-medium icon-sitemap"></i> {{ _('Categories') }}</h3>
      {% if pkg.groups %}
        <ul class="nav nav-simple">
        {% for group in pkg.groups %}
          {% set truncate_title = truncate_title or 80 %}
          {% set title = group.title or group.display_name %}
          <li class="nav-item">{{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='group', action='read', id=group.name)) }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    </section>

    <section class="module module-narrow">
      <h3 class="module-heading"><i class="fa fa-files-o icon-medium icon-sitemap"></i> {{ _('Type of content') }}</h3>
      {% if pkg.showcase_type %}
        {% set label_truncated = h.get_showcase_type_name(pkg.showcase_type, h.lang()) %}
        <ul class="nav nav-simple">
          <li class="nav-item">{{ h.link_to(label_truncated, h.url_for('showcase_blueprint.index', showcase_type=pkg.showcase_type)) }}</li>
        </ul>
      {% endif %}
    </section>
  {% endif %}
{% endblock %}
