{#
Displays a sidebard module with information for given package

pkg    - The showcase package dict that owns the resources.

Example:

  {% snippet "package/snippets/info.html", pkg=pkg %}

#}
{% block package_info %}
  {% if pkg %}
    <section class="module module-narrow">
      <div class="module context-info">
        <div class="module-content">
          <h3 class="module-heading"><i class="fa fa-sitemap icon-medium icon-sitemap"></i> {{ _('Datasets in Showcase') }}</h3>
          {% if showcase_pkgs %}
            <ul class="nav nav-simple">
            {% for package in showcase_pkgs %}
              {% set truncate_title = truncate_title or 80 %}
              {% set title = package.title or package.name %}
              <li class="nav-item">{{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}</li>
            {% endfor %}
            </ul>
          {% else %}
            <p class="module-content empty">{{_('There are no Datasets in this Showcase')}}</p>
          {% endif %}
        </div>
      </div>
      {% set type = pkg.get("showcase_type") %}
      {% if type %}
        <div class="module context-info">
          <div class="module-content">
            <h3>{{ _('Type of content') }}</h3>
            <a class="{% block type_item_class %}type{% endblock %}"
              href="{% url_for controller='ckanext.showcase.controller:ShowcaseController',
              action='search', showcase_type=type %}">{{ h.get_showcase_type_name(type, h.lang()) }}
            </a>
        </div>
      </div>
      {% endif %}
      {% if pkg.get("groups") %}
      {% set groups = pkg.get("groups") %}
        <div class="module context-info">
          <div class="module-content">
            <h3>{{ _('Categories') }}</h3>
            {% for group in groups %}
              <p>
                <a class="{% block group_list_item_class %}group['name']{% endblock %}" href="{% url_for controller='ckanext.showcase.controller:ShowcaseController', action='search', groups=group['name'] %}">{{ group['title'] }}</a>{% if not loop.last %}<br />{% endif %}
              </p>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </section>
  {% endif %}
{% endblock %}
