{#
Renders a item for a group. This should be used in a list.

group - A group dict.

Example:

    <ul>
      {% for group in groups %}
        {% snippet "group/snippets/group_item.html", group=group %}
      {% endfor %}
    </ul>
#}

{% set display_name = h.scheming_language_text(group[h.scheming_field_by_name(schema.fields, 'display_name').field_name]) %}
{% set description = h.scheming_language_text(group[h.scheming_field_by_name(schema.fields, 'description').field_name]) %}

{% block item %}
<li>
  {% block item_inner %}
    {% block title %}
      <h3><a href="{{ url }}" title="{{ _('View {name}').format(name=display_name) }}">{{ display_name }}</a></h3>
    {% endblock %}
    {% block datasets %}
      <p class="small">{{ ungettext('{num} Dataset', '{num} Datasets', group.package_count).format(num=group.package_count) }}</p>
    {% endblock %}
    {% block description %}
      {% if description %}
        <p>{{ description }}</p>
      {% endif %}
    {% endblock %}
  {% endblock %}
</li>
{% endblock %}
