{% ckan_extends %}

{% block heading %}
<h1 class="heading">
  {{ display_name }}
  {% if group.state == 'deleted' %}
  [{{ _('Deleted') }}]
  {% endif %}
</h1>
{% endblock %}
{% block description %}
  {% if group.description %}
    <p class="description">
      {%- snippet 'scheming/snippets/display_field.html', field=h.scheming_field_by_name(schema.fields, 'description'), data=group, schema=schema -%}
    </p>
    <p class="read-more">
      {% link_for _('read more'), named_route='group.about', id=group.name %}
    </p>
  {% endif %}
{% endblock %}
