[groups]

main =
    vendor/bootstrap-datepicker/css/bootstrap-datepicker.css
    vendor/bootstrap-datepicker/js/bootstrap-datepicker.js
    vendor/bootstrap-datepicker/locales/bootstrap-datepicker.de.min.js
    vendor/bootstrap-datepicker/locales/bootstrap-datepicker.fr-CH.min.js
    vendor/bootstrap-datepicker/locales/bootstrap-datepicker.it-CH.min.js
