{#
  Displays a search form.

  query       - Current query value.
  fields      - Some fields.
  placeholder - The placeholder of the search input field.

  Example:

  {% snippet 'snippets/search_form.html', package=datasets[0] %}

#}

{% ckan_extends %}
{% import 'macros/form.html' as form %}

{% set placeholder = placeholder if placeholder else _('Search datasets...') %}

{% block search_input %}
  <div class="input-group search-input-group">
    <input aria-label="{% block header_site_search_label %}{{ placeholder }}{% endblock %}" id="ogdch_search" type="search" class="form-control input-lg" name="q" value="{{ query }}" autocomplete="off" placeholder="{{ placeholder }}">
    {% block search_input_button %}
    <span class="input-group-btn">
          <button class="btn btn-default btn-lg" type="submit" value="search">
            <i class="fa fa-search"></i>
          </button>
        </span>
    {% endblock %}
  </div>
  <div class="reset-search" style="display: inline-block;">
    {% if group_dict.name %}
      <a href="{{ h.url_for(controller=controller, action=action, id=group_dict.name) }}"><i class="fa fa-times-circle" aria-hidden="true"></i> {{ _('Reset search') }}</a>
    {% elif dataset_type == 'harvest' %}
      <a href="{{ h.url_for('harvest_search') }}"><i class="fa fa-times-circle" aria-hidden="true"></i> {{ _('Reset search') }}</a>
    {% else %}
      <a href="{{ h.url_for(controller=controller, action=action) }}"><i class="fa fa-times-circle" aria-hidden="true"></i> {{ _('Reset search') }}</a>
    {% endif %}
  </div>
{% endblock %}

{% block search_facets %}
  {% if facets %}
    <p class="filter-list">
      {% for field in facets.fields %}
        {% set search_facets_items = facets.search.get(field)['items'] %}
        <span class="facet">{{ facets.titles.get(field) }}:</span>
        {% for value in facets.fields[field] %}
          <span class="filtered pill">
                      {%- if facets.translated_fields and facets.translated_fields.has_key((field,value)) -%}
                        {{ facets.translated_fields[(field,value)] }}
                      {%- else -%}
                        {{ h.get_localized_value_for_display(h.list_dict_filter(search_facets_items, 'name', 'display_name', value)) }}
                      {%- endif %}
                      <a href="{{ facets.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
                    </span>
        {% endfor %}
      {% endfor %}
    </p>
    <a class="show-filters btn btn-default">{{ _('Filter Results') }}</a>
  {% endif %}
{% endblock %}

