{% ckan_extends %}

{% set type = group_dict.type or 'group' %}
{% set schema = h.scheming_get_group_schema(type) %}
{% set display_name = h.scheming_language_text(group_dict.display_name) or h.scheming_language_text(group_dict.title) %}

{% block subtitle %}{{ _('Manage') }} {{ g.template_title_delimiter }} {{ display_name }} {{ g.template_title_delimiter }} {{ _('Categories') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for h.humanize_entity_type('group', group_type, 'breadcrumb') or _('Categories'), named_route=group_type+'.index' %}</li>
  {% block breadcrumb_content_inner %}
    <li>{% link_for display_name|truncate(35), named_route=group_type+'.read', id=group_dict.name, title=group_dict.display_name %}</li>
    <li class="active">{% link_for _('Manage'), named_route=group_type+'.edit', id=group_dict.name %}</li>
  {% endblock %}
{% endblock %}

{% block page_heading %}{{ h.humanize_entity_type('group', group_type, 'edit label') or _('Edit Category') }}{% endblock %}
