{% ckan_extends %}

{% block primary %}
  <article class="module">
    {% block page_header %}
      <header class="module-content page-header hug">
        <div class="content_action">
          {% link_for _('Profile settings'), named_route='user.edit', id=user.name, class_='btn btn-default', icon='cog' %}
        </div>
      {% block content_primary_nav %}
        <ul class="nav nav-tabs">
          {% block dashboard_nav_links %}
            {{ h.build_nav_icon('activity.dashboard', h.humanize_entity_type('package', dataset_type, 'my label') or _('My Datasets'), icon='sitemap') }}
            {{ h.build_nav_icon('dashboard.organizations', h.humanize_entity_type('organization', org_type, 'my label') or _('My Organizations'), icon='building') }}
          {% endblock dashboard_nav_links %}
        </ul>
     {% endblock %}
      </header>
    {% endblock %}
    <div class="module-content">
      {% if self.page_primary_action() | trim %}
        <div class="page_primary_action">
          {% block page_primary_action %}
            {% if h.check_access('package_create') %}
              {% snippet 'snippets/add_dataset.html' %}
            {% endif %}
          {% endblock %}
        </div>
      {% endif %}
      {% block primary_content_inner %}
        <h2 class="hide-heading">{{ _('My Datasets') }}</h2>
        {% set datasets = h.ogdch_user_datasets() %}
        {% if datasets %}
          {% snippet 'snippets/package_list.html', packages=datasets %}
        {% else %}
          <p class="empty">
            {{ _('You haven\'t created any datasets.') }}
            {% if h.check_access('package_create') %}
              {% link_for _('Create one now?'), 'dataset.new' %}
            {% endif %}
          </p>
        {% endif %}
      {% endblock %}
    </div>
  </article>
{% endblock %}
