{% ckan_extends %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">
        {% if h.check_access('sysadmin') %}
            <div class="page_primary_action">
            {{ h.nav_link(_('Add User'), named_route='user_register', class_='btn btn-primary', icon='plus-square') }}
            </div>
        {% endif %}
        {% block page_heading %}{{ _('Users') }}{% endblock %}
      </h1>
      {% block users_list %}
      {% set is_sysadmin = h.check_access('sysadmin') %}
      <table class="table table-header table-hover table-bordered">
        <thead>
          <tr>
            <th>{{ _('Username') }}</th>
            {% if is_sysadmin %}
            <th>{{ _('Email') }}</th>
            {% endif %}
            <th>{{ _('Role') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for user in c.page.users %}
            {% set user_display =  h.ogdch_linked_user(user['name']) %}
            <tr>
              <td class="media">
                {{ user_display.get('link') }}
              </td>
              {% if is_sysadmin %}
              <td>
                {{ user_display.get('email') }}
              </td>
              {% endif %}
              <td>
                {% if user.is_sysadmin %}
                  {{ _('Sysadmin') }}
                {% else %}
                  {% for item in user_display.get('userroles') %}
                    <p>{{ item }}</p>
                  {% endfor %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if not c.page.users %}
        {{ _('No users match your search') }}
      {% endif %}
      {% endblock %}
    </div>
    {% snippet 'user/snippets/pagination.html', q=q %}
  </article>
{% endblock %}

{% block secondary_content %}
  {% snippet 'user/snippets/user_search.html', q=q %}
  {% snippet 'user/snippets/helper.html' %}
{% endblock %}
