{% extends "user/read.html" %}

{% block subtitle %}{{ _('Organizations') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
  <h2 class="hide-heading">
    {% block page_heading %}{{ _('Organizations') }}{% endblock %}
  </h2>

  {% block organization_list %}
    <div class="organization-hierarchy empty-search">
      <ul id="organizations-list">
      {% for org in organizations_available %}
        <li id="{{org.name}}" class="organization">
          <div class="organization-row">
            {% set org_title = h.get_localized_value_for_display(org.title) %}
            {% set user_role = org.capacity.capitalize() %}
            {% link_for org_title, controller='organization', action='read', id=org.name %}
            ( {{ _( user_role ) }} )
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
  {% endblock %}
{% endblock %}
