{% ckan_extends %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('user.read', _('Datasets'), id=user.name) }}
  {{ h.build_nav_icon('organization_list', _('Organizations'), id=user.name) }}
  {% if c.user %}
    {{ h.build_nav_icon('user.activity', _('Activity Stream'), id=user.name) }}
  {% endif %}
{% endblock %}

{% block user_info %}
<div class="info">
  <dl>
    {% if user.name.startswith('http://') or user.name.startswith('https://') %}
      <dt>{{ _('Open ID') }}</dt>
      <dd>{{ user.name|urlize(25) }}{# Be great if this just showed the domain #}</dd>
    {% else %}
      <dt>{{ _('Username') }}</dt>
      <dd>{{ user.name }}</dd>
    {% endif %}
  </dl>
  {% if is_myself %}
    <dl>
      <dt>{{ _('Email') }} <span class="label label-default" title="{{ _('This means only you can see this') }}">{{ _('Private') }}</span></dt>
      <dd>{{ user.email }}</dd>
    </dl>
  {% endif %}
  <dl>
    <dt>{{ _('Member Since') }}</dt>
    <dd>{{ h.render_datetime(user.created) }}</dd>
  </dl>
  <dl>
    <dt>{{ _('State') }}</dt>
    <dd>{{ _(user.state) }}</dd>
  </dl>
  {% if is_myself %}
    <dl>
      <dt class="key">{{ _('API Key') }} <span class="label label-default" title="{{ _('This means only you can see this') }}">{{ _('Private') }}</span></dt>
      <dd class="value"><code>{{ user.apikey }}</code></dd>
    </dl>
  {% endif %}
</div>
{% endblock %}
