{% ckan_extends %}
{#
    Package sidebar

    pkg    - The package dict that owns the resources.
#}

{% block nums %}
{% endblock %}
{% block follow_button %}
  {% if h.ogdch_get_env() != 'production' %}
    {% for group in pkg.groups %}
      {% if group.name == "ener" %}
        {% set connectome_url = h.ogdch_get_switch_connectome_url(pkg.identifier) %}
        {% if connectome_url != '' %}
          <div class="nums">
            <a class="btn btn-default" href="{{ connectome_url }}">{{ _('Research Data Connectome (SWITCH)') }}</a>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
