{% ckan_extends %}

  {% block form_actions %}
    <div class="form-actions">
      {% block disclaimer %}
      {% endblock %}
      {% block delete_button %}
        {% if h.check_access('package_delete', {'id': data.id}) and not data.state == 'deleted' %}
          <a class="btn btn-danger pull-left" href="{% url_for dataset_type ~ '.delete', id=data.id %}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this dataset?') }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
        {% endif %}
      {% endblock %}
      {% block save_button %}
        <button class="btn btn-primary" type="submit" name="save">{% block save_button_text %}{{ _('Next: Add Data') }}{% endblock %}</button>
      {% endblock %}

    </div>
  {% endblock %}