.homepage .module-stats {
    /*margin-top: 1rem;*/
    color: #444;
}
.homepage .module-stats .card {
    padding: 1.5rem 1.75rem;
}
.homepage .module-stats .card ul {
    margin: 0;
    list-style: none;
    padding: 0;
}
.homepage .module-stats .card ul::after {
    display: block;
    clear: both;
    content: "";
}
.homepage .module-stats .card ul li {
    float: left;
    width: 25%;
    font-weight: 300;
}
.homepage .module-stats .card ul li a {
    display: block;
}
.homepage .module-stats .card ul li a strong {
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: bold;
}
.homepage .module-stats .card ul li a:hover {
    text-decoration: none;
}
.homepage .module-feeds .module-stats {
    margin-top: 0;
}

@media (max-width: 767.98px) {
    .homepage .module-stats {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
