{% ckan_extends %}

{% block breadcrumb_content %}
  {% if pkg %}
    {% set dataset = h.dataset_display_name(pkg) %}
    {% if pkg.organization %}
       {% snippet "snippets/organization_breadcrumb.html", organization=pkg.organization %}
    {% else %}
      <li>{% link_for _(dataset_type.title()), named_route=dataset_type ~ '.search' %}</li>
    {% endif %}
      <li{{ self.breadcrumb_content_selected() }}>{% link_for dataset|truncate(30), named_route=pkg.type ~ '.read', id=pkg.name, title=dataset %}</li>
  {% else %}
    <li>{% link_for _('Datasets'), 'dataset.search' %}</li>
    <li class="active"><a href="">{{ h.humanize_entity_type('package', dataset_type, 'create label') or _('Create Dataset') }}</a></li>
  {% endif %}
{% endblock %}
