{% ckan_extends %}

{% block breadcrumb_content %}
  {% if res %}
    {% set resource_display_name = h.get_localized_value_for_display(res['title']) %}
    {% set package_display_name = h.get_localized_value_for_display(pkg['title']) %}

    {% snippet "snippets/organization_breadcrumb.html", organization=pkg.organization %}
    <li>{% link_for package_display_name|truncate(35), controller='package', action='read', id=pkg.name %}</li>
    <li>{% link_for resource_display_name|truncate(35), controller='package', action='resource_read', id=pkg.name, resource_id=res.id %}</li>
    <li{% block breadcrumb_edit_selected %} class="active"{% endblock %}><a href="">{{ _('Edit') }}</a></li>
  {% endif %}
{% endblock %}
