<section class="tags">
  {% set tags = h.get_localized_value_from_json(data[field.field_name], h.lang()) %}
  {% if tags %}
    {% block tag_list %}
      <ul class="tag-list">
        {% for tag in tags %}
          {% set tag_dict = {'keywords_' + h.lang(): tag} %}
          <li>
            <a class="{% block tag_list_item_class %}tag{% endblock %}" href="{{
              h.url_for('dataset.search', **tag_dict) }}">{{
                h.truncate(tag, 22) }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endblock %}
  {% else %}
    -
  {% endif %}
</section>
