{%- set temporals = data[field.field_name] -%}
{% if temporals %}
  {% if temporals|length == 1 %}
    {{ h.get_localized_date(temporals[0].start_date) }}
    {% if temporals[0].end_date %}
      - {{ h.get_localized_date(temporals[0].end_date) }}
    {% endif %}
  {% else %}
    <ul>
      {% for temporal in temporals %}
      <li>
        {{ h.get_localized_date(temporal.start_date) }}
        {% if temporal.end_date %}
          - {{ h.get_localized_date(temporal.end_date) }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  {% endif %}
{% else %}
  -
{% endif %}
