{% ckan_extends %}

{% block meta %}
  {{ super() }}
  <meta name="robots" content="noindex" />
{% endblock %}

{% block styles %}
{{ super() }}
  {% resource 'switzerland/ogdch_file_upload.js' %}
  {% resource 'switzerland/ogdch_file_upload.css' %}
  {% resource 'switzerland/ogdch_form_helper.css' %}
  {% resource 'switzerland/ogdch_form_helper_contact_points.js' %}
  {% resource 'switzerland/ogdch_info_box.js' %}
  {% resource 'switzerland/ogdch_form_helper_relations.js' %}
  {% resource 'switzerland/ogdch_form_helper_qualified_relations.js' %}
  {% resource 'switzerland/ogdch_form_helper_temporals.js' %}
  {% resource 'switzerland/ogdch_datepicker.js' %}
  {% resource 'switzerland/ogdch_organization_filter.css' %}
  {% resource 'switzerland/ogdch_organization_filter.js' %}
  {% resource 'switzerland/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}
  {% resource 'switzerland/vendor/bootstrap-datepicker/css/bootstrap-datepicker.css' %}
  <link href="http://localhost:8080/resources/afef59eb-c478-4e94-a2c8-60374458de31.css" rel="stylesheet">
{% endblock %}

{%- block scripts %}
  {{ super() }}
  <script src="http://localhost:8080/build/mosparo-frontend.js" defer></script>
  <script>
    var m;
    window.onload = function(){
      m = new mosparo(
              'mosparo-box',
              'http://localhost:8080',
              'afef59eb-c478-4e94-a2c8-60374458de31',
              'ue4SdCHECNarW7N7TJyFNWVg-MZMqVe9l6mtGSksMsQ',
              {
                customMessages: {
                  de: {
                    errorSpamDetected: 'Ihre Daten wurden von unserem Spam-Schutz erfasst.'
                  },
                  en: {
                    errorSpamDetected: 'Your data was caught by our spam protection.'
                  },
                  fr: {
                    errorSpamDetected: 'Vos données ont été interceptées par notre protection anti-spam.'
                  },
                  de_CH: {
                    errorSpamDetected: 'I tuoi dati sono stati catturati dalla nostra protezione dallo spam.'
                  },
                }
              }
      );
    };
</script>
{% endblock -%}
