{% ckan_extends %}
{% block header_site_navigation %}
<nav class="section navigation">
<ul class="nav nav-pills">
  {% block header_site_navigation_backend %}
     {% set admin_capacity = h.ogdch_admin_capacity() %}
     {% if admin_capacity %}
       <li class="{{ h.ogdch_template_helper_get_active_class(request.url, 'user') }}">
         <a href="{{ h.url_for(controller='user', action='index') }}">{{ _('Users') }}
         </a>
       </li>
     {% endif %}
     <li class="{{ h.ogdch_template_helper_get_active_class(request.url, 'dataset') }}">
         {{ h.nav_link(_('Datasets'), named_route='search') }}
     </li>
     <li class="{{ h.ogdch_template_helper_get_active_class(request.url, 'organization') }}">
         {{ h.nav_link(_('Organizations'), named_route='organizations_index') }}
     </li>
     <li class="{{ h.ogdch_template_helper_get_active_class(request.url, 'group') }}">
         {{ h.nav_link(_('Categories'), named_route='group_index') }}
     </li>
  {% endblock %}
</ul>
</nav>
{% endblock %}

