{% ckan_extends %}

{% block package_description %}
  {% if pkg.private %}
    <span class="dataset-private label label-inverse pull-right">
      <i class="fa fa-lock icon-lock"></i>
      {{ _('Draft') }}
    </span>
  {% endif %}
  <h1>
    {% block page_heading %}
      {{ name }}
      {% if pkg.state.startswith('draft') %}
        [{{ _('Draft') }}]
      {% endif %}
    {% endblock %}
  </h1>

  {% if pkg.image_display_url %}
    <p class="ckanext-showcase-image-container"><img src="{{ pkg.image_display_url }}" alt="{{ name }}" class="media-image ckanext-showcase-image img-fluid"></p>
  {% endif %}

  {% block package_notes %}
    {% if pkg.showcase_notes_formatted and editor == 'ckeditor' %}
      <div class="ck-content">
        {{ pkg.showcase_notes_formatted|safe }}
      </div>
    {% elif pkg.showcase_notes_formatted %}
      <div class="notes embedded-content ckanext-showcase-notes">
        {{ pkg.showcase_notes_formatted }}
      </div>
    {% endif %}
  {% endblock %}

  {% if pkg.url %}
    <p><a class="btn btn-primary ckanext-showcase-launch" href="{{ pkg.url }}" target="_blank"><i class="fa fa-external-link icon-external-link"></i> {{ _('Launch website') }}</a></p>
  {% endif %}

{% endblock %}
