<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('User List') }}
  </h2>
  <div class="module-content">
    <p>{{ _('Users on the list:') }}</p>
    <ul>
      <li>{{ _('Sysadmins are allowed to see all users.') }}</li>
      <li>{{ _('Organizations admins are allowed to see all users in their organizations.') }}</li>
      <li>{{ _('All users are allowed to see themselves.') }}</li>
    </ul>
    <p>{{ _('Roles cascade to suborganizations. User roles in suborganizations are only shown if they differ from the role
    in the top level organization') }}</p>
  </div>
</div>
