{% import 'macros/form.html' as form %}

<section class="module module-narrow module-shallow simple-input">
  {{ c.user_roles }}
  <h2 class="module-heading">{{ _('Users') }}</h2>
  <form id="user-search-form"
        class="module-content field-bordered"
        action="{% url_for controller='ckanext.switzerland.controllers.user:OgdchUserController', action='index' %}"
        method="get">
    <div class="field">
      <label for="field-user-search">{{ _('Search Users') }}</label>
      <input id="ogdch_user_search"
             value="{{ c.q }}"
             class="field form-control"
             name="q"
             autocomplete="off"
             placeholder="{{ _('Search') }}" />
      <button class="btn-search" id="ogdch_user_search_button"
             type="submit">
             <i class="fa fa-search"></i>
      </button>
    </div>
    <br>
    <div class="field">
      {% set format_attrs = {'data-module': 'autocomplete'} %}
      {{ form.select('role', label=_('Role'), options=c.roles, selected=c.role, error='',  attrs=format_attrs, is_required=false) }}
    </div>
    <div class="field">
      {{ form.select('organization', label=_('Organizations'), options=c.organizations, selected=c.organization, error='',  attrs=format_attrs, is_required=false) }}
    </div>
    <div class="reset-search">
      <a href="{% url_for controller='ckanext.switzerland.controllers.user:OgdchUserController', action='index' %}"><i class="fa fa-times-circle" aria-hidden="true"></i> {{ _('Reset search') }}</a>
    </div>
  </form>
</section>
