{% ckan_extends %}
{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('CKAN config options') }}
    </h2>
    <div class="module-content">
      {% block admin_form_help %}
        {% set about_url = h.url_for(controller='home', action='about') %}
        {% set home_url = h.url_for(controller='home', action='index') %}
        {% set docs_url = "http://docs.ckan.org/en/{0}/theming".format(g.ckan_doc_version) %}
          <h3>{{ _('Frontpage news box') }}</h3>
          <p><strong>{{ _('Intro Text') }}:</strong>
            {{ _( 'If this text is set, it will appear as news on the
            Homepage, see') }}:
            <a href="{{ home_url }}">
              {{ _('Homepage') }}
            </a>
          </p>
        <p><strong>{{ _('Instruction how to set the text') }}</strong>:</p>
            <code>#de</code><br>
            <code>Neuigkeiten in Deutsch</code><br>
            <code>#en</code><br>
            <code>News in English</code><br>
            <code>#fr</code><br>
            <code>Nouvelles en français</code><br>
            <code>#it</code><br>
            <code>Notizie in italiano</code><br>
        <p><strong>{{ _('Important') }}</strong>
        {{ _('Currently all 4 languages are need to be set. The text for each
        language will appear on the locale of the homepage for that language
        .') }}</p>
        <h3>{{ _('Standard CKAN settings') }}</h3>
        <p><strong>{{ _('Site Title') }}:</strong>
          {{ _('This is the title of this CKAN instance
          It appears in various places throughout CKAN.') }}</p>
        <p><strong>{{ _('Style') }}:</strong>
          {{ _('Choose from a list of simple variations of
          the main colour scheme to get a very quick custom theme working.') }}
        </p>
        <p><strong>{{ _('Site Tag Logo') }}:</strong>
        {{ _('This is the logo that appears in the
          header of all the CKAN instance templates.') }}</p>
        <p><strong>{{ _('About') }}:</strong>
          {{ _('This text will appear on this CKAN instances, see ') }}
          <a href="{{ about_url }}">{{ _('About page') }}</a>.</p>
        <p><strong>{{ _('Custom CSS') }}:</strong>
        {{ _('This can be used for custom CSS on a CKAN site.') }}
        </p>
        <p><strong>{{ _('Homepage') }}:</strong>
          {{ _('This is for choosing a predefined layout for
          the modules that appear on your homepage.') }}</p>
      {% endblock %}
    </div>
  </div>
{% endblock %}