<body style="line-height: 200%; font-family: sans-serif; padding-top: 0">
<p><i>French, Italian and English below</i></p>

<p>Vielen Dank.</p>

<p>
    Sie haben Ihre E-Mail-Adresse erfolgreich bestätigt. Von nun an werden Sie über Änderungen des Datensatzes
    benachrichtigt (Änderungsdatum des Datensatzes, Änderungsdatum der Ressource, Zugangs-URL, Download-URL).
</p>

<p>
    Sie können Ihr Abo jederzeit <a href="{{ manage_link }}">anpassen</a> und <a href="{{ unsubscribe_link }}"> beenden</a>.
</p>

<p>Freundliche Grüsse,<br/>Team Geschäftsstelle OGD</p>

<p>
    Geschäftsstelle Open Government Data<br/>
    Bundesamt für Statistik BFS<br/>
    Espace de l'Europe 10<br/>
    CH-2010 Neuchâtel<br/>
    <a href="www.bfs.admin.ch/ogd">www.bfs.admin.ch/ogd</a>
</p>

<p>
    <a href="https://opendata.swiss">
        <img src="https://opendata.swiss/images/logo_horizontal.png" alt="opendata.swiss"
             width="420" style="max-width: 100%; height: auto;"/>
    </a>
</p>
<p>
    <a href="https://twitter.com/opendataswiss">
        <img src="https://opendata.swiss/images/twitter.svg" alt="Twitter"
             style="color: #fff; background-color: #009688; border: 0;"/>
    </a>
</p>

<p>
    <a href="{{ unsubscribe_link }}">Abonnement löschen</a> | <a href="{{ manage_link }}">Mein Abonnement verwalten</a>
</p>

--

<p>Merci.</p>

<p>
    Nous vous remercions d'avoir confirmé votre adresse e-mail. Tout changement relatif aux jeux de données vous sera
    désormais notifié (date de modification des jeux des données, date de modification de la ressource, URL d'accès,
    URL de téléchargement).
</p>

<p>
    Vous pouvez modifier (<a href="{{ manage_link }}">{{ manage_link }}</a>) et mettre fin
    (<a href="{{ unsubscribe_link }}">{{ unsubscribe_link }}</a>) à votre abonnement à tout moment.
</p>

<p>Cordialement,<br/>L'équipe du secrétariat OGD</p>

<p>
    Secrétariat Open Government Data<br/>
    Office fédéral de la statistique<br/>
    Espace de l'Europe 10<br/>
    CH-2010 Neuchâtel<br/>
    <a href="www.bfs.admin.ch/ogd">www.bfs.admin.ch/ogd</a>
</p>

<p>
    <a href="https://opendata.swiss">
        <img src="https://opendata.swiss/images/logo_horizontal.png" alt="opendata.swiss"
             width="420" style="max-width: 100%; height: auto;"/>
    </a>
</p>
<p>
    <a href="https://twitter.com/opendataswiss">
        <img src="https://opendata.swiss/images/twitter.svg" alt="Twitter"
             style="color: #fff; background-color: #009688; border: 0;"/>
    </a>
</p>

<p>
    <a href="{{ unsubscribe_link }}">Se désinscrire des mises à jour</a> | <a href="{{ manage_link }}">Gérer mes
    abonnements</a>
</p>

--

<p>Grazie,</p>

<p>per aver confermato l’indirizzo e-mail. D’ora in poi La informeremo ogni volta che il dataset sarà modificato (data
    di modifica del dataset, data di modifica della risorsa, URL di accesso, URL di download).</p>

<p>Può disdire l’abbonamento (<a href="{{ unsubscribe_link }}">{{ unsubscribe_link }}</a>) o modificarne (<a
        href="{{ manage_link }}">{{ manage_link }}</a>) le impostazioni in qualsiasi momento.</p>

<p>Cordiali saluti,<br/>Team Segreteria OGD</p>

<p>
    Segreteria Open Government Data<br/>
    Ufficio federale di statistica UST <br/>
    Espace de l’Europe 10, <br/>
    CH-2010 Neuchâtel<br/>
    <a href="www.bfs.admin.ch/ogd">www.bfs.admin.ch/ogd</a>
</p>

<p>
    <a href="https://opendata.swiss">
        <img src="https://opendata.swiss/images/logo_horizontal.png" alt="opendata.swiss"
             width="420" style="max-width: 100%; height: auto;"/>
    </a>
</p>
<p>
    <a href="https://twitter.com/opendataswiss">
        <img src="https://opendata.swiss/images/twitter.svg" alt="Twitter"
             style="color: #fff; background-color: #009688; border: 0;"/>
    </a>
</p>

<p>
    <a href="{{ unsubscribe_link }}">Disdetta abbonamento</a> | <a href="{{ manage_link }}">Gestione abbonamento</a>
</p>

--

<p>Thank you.</p>

<p>You have successfully confirmed your email address. From now on, you will be notified of changes to the dataset
    (dataset modification date, resource modification date, access URL, download URL).</p>

<p>You can make changes to (<a href="{{ unsubscribe_link }}">{{ unsubscribe_link }}</a>) and cancel (<a
        href="{{ manage_link }}">{{ manage_link }}</a>) your subscription at any time.</p>

<p>Best regards,<br/>The OGD office team</p>

<p>
    Open Government Data Office<br/>
    Federal Statistical Office<br/>
    Espace de l'Europe 10<br/>
    CH-2010 Neuchâtel<br/>
    <a href="www.bfs.admin.ch/ogd">www.bfs.admin.ch/ogd</a>
</p>

<p>
    <a href="https://opendata.swiss">
        <img src="https://opendata.swiss/images/logo_horizontal.png" alt="opendata.swiss"
             width="420" style="max-width: 100%; height: auto;"/>
    </a>
</p>
<p>
    <a href="https://twitter.com/opendataswiss">
        <img src="https://opendata.swiss/images/twitter.svg" alt="Twitter"
             style="color: #fff; background-color: #009688; border: 0;"/>
    </a>
</p>

<p>
    <a href="{{ unsubscribe_link }}">Unsubscribe</a> | <a href="{{ manage_link }}">Manage my subscriptions</a>
</p>
</body>
