<body style="line-height: 200%; font-family: sans-serif; padding-top: 0">
<p><i>French, Italian and English below</i></p>

<p>Guten Tag</p>

<p>
    Vielen Dank, dass Sie sich für den Datensatz <a href="{{ object_link }}">{{ object_title_de }}</a>
    von opendata.swiss interessieren und diesen abonnieren möchten.
</p>

<p>
    Bitte klicken Sie auf folgenden Link, um Ihre E-Mail-Adresse zu bestätigen:
    <a href="{{ verification_link }}">{{ verification_link }}</a>
</p>

<p>Wenn Sie kein Abonnement gemacht haben, ignorieren Sie bitte dieses E-Mail.</p>

<p>
    Viele Grüsse<br/>
    Team Geschäftsstelle OGD
</p>

<p>
    Geschäftsstelle Open Government Data<br/>
    Bundesamt für Statistik BFS<br/>
    Espace de l'Europe 10<br/>
    CH-2010 Neuchâtel<br/>
    <a href="www.bfs.admin.ch/ogd">www.bfs.admin.ch/ogd</a>
</p>

<p>
    <a href="https://opendata.swiss">
        <img src="https://opendata.swiss/images/logo_horizontal.png" alt="opendata.swiss"
             width="420" style="max-width: 100%; height: auto;"/>
    </a>
</p>
<p>
    <a href="https://twitter.com/opendataswiss">
        <img src="https://opendata.swiss/images/twitter.svg" alt="Twitter"
             style="color: #fff; background-color: #009688; border: 0;"/>
    </a>
</p>

--

<p>Bonjour,</p>

<p>
    Nous vous remercions de l'intérêt que vous portez au jeu de données
    <a href="{{ object_link }}"> {{ object_title_fr }}</a> d'opendata.swiss et de votre abonnement à sa
    diffusion.
</p>

<p>
    Veuillez cliquer sur le lien suivant pour confirmer votre adresse e-mail:
    <a href="{{ verification_link }}">{{ verification_link }}</a>
</p>

<p>
    Cordialement,<br/>
    L'équipe du secrétariat OGD</p>

<p>
    Secrétariat Open Government Data<br/>
    Office fédéral de la statistique<br/>
    Espace de l'Europe 10<br/>
    CH-2010 Neuchâtel<br/>
    <a href="www.bfs.admin.ch/ogd">www.bfs.admin.ch/ogd</a>
</p>

<p>
    <a href="https://opendata.swiss">
        <img src="https://opendata.swiss/images/logo_horizontal.png" alt="opendata.swiss"
             width="420" style="max-width: 100%; height: auto;"/>
    </a>
</p>
<p>
    <a href="https://twitter.com/opendataswiss">
        <img src="https://opendata.swiss/images/twitter.svg" alt="Twitter"
             style="color: #fff; background-color: #009688; border: 0;"/>
    </a>
</p>

--

<p>Buongiorno,</p>

<p>
    grazie per l’interesse dimostrato e per essersi abbonato/a al dataset <a href="{{ object_link }}">
    {{ object_title_it }}</a> di opendata.swiss.
</p>

<p>
    La preghiamo di confermare l’indirizzo e-mail cliccando sul link seguente:
    <a href="{{ verification_link }}">{{ verification_link }}</a>
</p>

<p>Cordiali saluti<br/>Team Segreteria OGD</p>

<p>
    Segreteria Open Government Data<br/>
    Ufficio federale di statistica UST <br/>
    Espace de l’Europe 10, <br/>
    CH-2010 Neuchâtel<br/>
    <a href="www.bfs.admin.ch/ogd">www.bfs.admin.ch/ogd</a>
</p>

<p>
    <a href="https://opendata.swiss">
        <img src="https://opendata.swiss/images/logo_horizontal.png" alt="opendata.swiss"
             width="420" style="max-width: 100%; height: auto;"/>
    </a>
</p>
<p>
    <a href="https://twitter.com/opendataswiss">
        <img src="https://opendata.swiss/images/twitter.svg" alt="Twitter"
             style="color: #fff; background-color: #009688; border: 0;"/>
    </a>
</p>

--

<p>Dear Sir/Madam,</p>

<p>
    Thank you for taking an interest in and subscribing to the <a href="{{ object_link }}">{{ object_title_en }}</a> dataset from opendata.swiss.
</p>

<p>
    Please click on the following link to confirm your email address: <a href="{{ verification_link }}">{{ verification_link }}</a>
</p>

<p>If you have not made any subscription or in case of error: please ignore this email.</p>

<p>Best regards<br/>The OGD office team</p>

<p>
    Open Government Data Office<br/>
    Federal Statistical Office<br/>
    Espace de l'Europe 10<br/>
    CH-2010 Neuchâtel<br/>
    <a href="www.bfs.admin.ch/ogd">www.bfs.admin.ch/ogd</a>
</p>

<p>
    <a href="https://opendata.swiss">
        <img src="https://opendata.swiss/images/logo_horizontal.png" alt="opendata.swiss"
             width="420" style="max-width: 100%; height: auto;"/>
    </a>
</p>
<p>
    <a href="https://twitter.com/opendataswiss">
        <img src="https://opendata.swiss/images/twitter.svg" alt="Twitter"
             style="color: #fff; background-color: #009688; border: 0;"/>
    </a>
</p>
</body>
