<p>Guten Tag</p>

<p>{site_title} subscription options<br/>

<p>
    To manage subscriptions for {{ email }}, click this link:<br/>
    <a href="{{ manage_link }}">{{ manage_link }}</a>
</p>

<p>Freundliche Grüsse<br/>Team Geschäftsstelle OGD</p>

<p style="font-size:10px;line-height:200%; font-family: sans-serif;color:#9EA3A8;padding-top:0px">
    Geschäftsstelle Open Government Data<br/>
    Bundesamt für Statistik BFS<br/>
    Espace de l'Europe 10<br/>
    CH-2010 Neuchâtel<br/>
    <a href="www.bfs.admin.ch/ogd">www.bfs.admin.ch/ogd</a>
</p>

<p style="font-size:10px;line-height:200%; font-family: sans-serif;color:#9EA3A8;padding-top:0px">
    <a href="https://opendata.swiss">
        <img src="https://opendata.swiss/images/logo_horizontal.png" alt="opendata.swiss"
             width="420" height="220" style="max-width: 100%; height: auto;"/>
    </a>
</p>

<p style="font-size:10px;line-height:200%; font-family: sans-serif;color:#9EA3A8;padding-top:0px">
    <a href="{{ manage_link }}">Mein Abonnement verwalten</a>
</p>
