<body style="line-height: 200%; font-family: sans-serif; padding-top: 0">
<p>Guten Tag</p>

<p>Vielen Dank für Ihre Bestätigung des Datensatz-Abonnements auf opendata.swiss.</p>

<p>Sie können das Abonnement jederzeit widerrufen oder Ihre Einstellungen anpassen.</p>

<p>Freundliche Grüsse<br/>Team Geschäftsstelle OGD</p>

<p>
    Geschäftsstelle Open Government Data<br/>
    Bundesamt für Statistik BFS<br/>
    Espace de l'Europe 10<br/>
    CH-2010 Neuchâtel<br/>
    <a href="www.bfs.admin.ch/ogd">www.bfs.admin.ch/ogd</a>
</p>

<p>
    <a href="https://opendata.swiss">
        <img src="https://opendata.swiss/images/logo_horizontal.png" alt="opendata.swiss"
             width="420" style="max-width: 100%; height: auto;"/>
    </a>
</p>
<p>
    <a href="https://twitter.com/opendataswiss">
        <img src="https://opendata.swiss/images/twitter.svg" alt="Twitter"
             style="color: #fff; background-color: #009688; border: 0;"/>
    </a>
</p>

<p>
    <a href="{{ unsubscribe_link }}">Abonnement löschen</a> | <a href="{{ manage_link }}">Mein Abonnement verwalten</a>
</p>
</body>
