<body style="line-height: 200%; font-family: sans-serif; padding-top: 0">
<p>Guten Tag</p>

<p>
    Sie haben via opendata.swiss die automatische Benachrichtigung über die
    Aktualisierungen des folgenden Datensatzes abonniert:
</p>

<ul><li><a href="{{ object_link }}">{{ object_title_de }}</a></li></ul>

<p>
    Bitte bestätigen Sie das Abonnement, indem Sie auf den folgenden Link
    klicken: <a href="{{ verification_link }}">{{ verification_link }}</a>
</p>

<p>Wenn Sie kein Abonnement gemacht haben, ignorieren Sie bitte dieses E-Mail.</p>

<p>
    Freundliche Grüsse<br/>
    Team Geschäftsstelle OGD
</p>

<p>
    Geschäftsstelle Open Government Data<br/>
    Bundesamt für Statistik BFS<br/>
    Espace de l'Europe 10<br/>
    CH-2010 Neuchâtel<br/>
    <a href="www.bfs.admin.ch/ogd">www.bfs.admin.ch/ogd</a>
</p>

<p>
    <a href="https://opendata.swiss">
        <img src="https://opendata.swiss/images/logo_horizontal.png" alt="opendata.swiss"
             width="420" style="max-width: 100%; height: auto;"/>
    </a>
</p>
<p>
    <a href="https://twitter.com/opendataswiss">
        <img src="https://opendata.swiss/images/twitter.svg" alt="Twitter"
             style="color: #fff; background-color: #009688; border: 0;"/>
    </a>
</p>

--

<p>Bonjour</p>

<p>
    Vous vous êtes abonnés au jeu de données ci-après d’opendata.swiss afin d’y
    recevoir automatiquement les mises à jour:
</p>

<ul><li><a href="{{ object_link }}">{{ object_title_fr }}</a></li></ul>

<p>
    Merci de suivre ce lien afin de confirmer cette inscription:
    <a href="{{ verification_link }}">{{ verification_link }}</a>
</p>

<p>Si vous n’êtes pas à l’origine de cette requête ou en cas d’erreur, merci d’ignorer ce courriel.</p>

<p>Cordialement,<br/>Votre Team Secrétariat OGD</p>

<p>
    Secrétariat Open Government Data<br/>
    Office fédéral de la statistique<br/>
    Espace de l'Europe 10<br/>
    CH-2010 Neuchâtel<br/>
    <a href="www.bfs.admin.ch/ogd">www.bfs.admin.ch/ogd</a>
</p>

<p>
    <a href="https://opendata.swiss">
        <img src="https://opendata.swiss/images/logo_horizontal.png" alt="opendata.swiss"
             width="420" style="max-width: 100%; height: auto;"/>
    </a>
</p>
<p>
    <a href="https://twitter.com/opendataswiss">
        <img src="https://opendata.swiss/images/twitter.svg" alt="Twitter"
             style="color: #fff; background-color: #009688; border: 0;"/>
    </a>
</p>

--

<p>Hello</p>

<p>
    You have subscribed to receive updates on the following dataset from opendata.swiss:
</p>

<ul><li><a href="{{ object_link }}">{{ object_title_en }}</a></li></ul>

<p>
    Please confirm your subscription by following this link:
    <a href="{{ verification_link }}">{{ verification_link }}</a>
</p>

<p>If you have not made any subscription or in case of error: please ignore this email.</p>

<p>Best regards,<br/>Team Open Government Data Office</p>

<p>
    Open Government Data Office<br/>
    Federal Statistical Office<br/>
    Espace de l'Europe 10<br/>
    CH-2010 Neuchâtel<br/>
    <a href="www.bfs.admin.ch/ogd">www.bfs.admin.ch/ogd</a>
</p>

<p>
    <a href="https://opendata.swiss">
        <img src="https://opendata.swiss/images/logo_horizontal.png" alt="opendata.swiss"
             width="420" style="max-width: 100%; height: auto;"/>
    </a>
</p>
<p>
    <a href="https://twitter.com/opendataswiss">
        <img src="https://opendata.swiss/images/twitter.svg" alt="Twitter"
             style="color: #fff; background-color: #009688; border: 0;"/>
    </a>
</p>

--

<p>Buongiorno,</p>

<p>
    tramite opendata.swiss si è abbonato/a alla notifica automatica degli aggiornamenti del dataset seguente:
</p>

<ul><li><a href="{{ object_link }}">{{ object_title_it }}</a></li></ul>

<p>
    La preghiamo di confermare l’abbonamento cliccando sul link seguente:
    <a href="{{ verification_link }}">{{ verification_link }}</a>
</p>

<p>Se non ha richiesto alcun abbonamento, La preghiamo di ignorare questa e-mail.</p>

<p>Cordiali saluti<br/>Team Segreteria OGD</p>

<p>
    Segreteria Open Government Data<br/>
    Ufficio federale di statistica UST <br/>
    Espace de l’Europe 10, <br/>
    CH-2010 Neuchâtel<br/>
    <a href="www.bfs.admin.ch/ogd">www.bfs.admin.ch/ogd</a>
</p>

<p>
    <a href="https://opendata.swiss">
        <img src="https://opendata.swiss/images/logo_horizontal.png" alt="opendata.swiss"
             width="420" style="max-width: 100%; height: auto;"/>
    </a>
</p>
<p>
    <a href="https://twitter.com/opendataswiss">
        <img src="https://opendata.swiss/images/twitter.svg" alt="Twitter"
             style="color: #fff; background-color: #009688; border: 0;"/>
    </a>
</p>
</body>
