<body style="line-height: 200%; font-family: sans-serif; padding-top: 0">
<p><i>French, Italian and English below</i></p>
<p>Guten Tag,</p>

<p>{{ site_title }} subscription options<br/>

<p>
    To manage subscriptions for {{ email }}, click this link:<br/>
    <a href="{{ manage_link }}">{{ manage_link }}</a>
</p>

<p>Viele Grüsse,<br/>Team Geschäftsstelle OGD</p>

<p>
    Geschäftsstelle Open Government Data<br/>
    Bundesamt für Statistik BFS<br/>
    Espace de l'Europe 10<br/>
    CH-2010 Neuchâtel<br/>
    <a href="www.bfs.admin.ch/ogd">www.bfs.admin.ch/ogd</a>
</p>

<p>
    <a href="https://opendata.swiss">
        <img src="https://opendata.swiss/images/logo_horizontal.png" alt="opendata.swiss"
             width="420" style="max-width: 100%; height: auto;"/>
    </a>
</p>
<p>
    <a href="https://twitter.com/opendataswiss">
        <img src="https://opendata.swiss/images/x.svg" alt="X"
             style="color: #fff; background-color: #009688; border: 0;"/>
    </a>
</p>

<p>
    <a href="{{ manage_link }}">Mein Abonnement verwalten</a>
</p>

--

<p>Bonjour</p>

<p>{{ site_title }} subscription options<br/>

<p>
    To manage subscriptions for {{ email }}, click this link:<br/>
    <a href="{{ manage_link }}">{{ manage_link }}</a>
</p>

<p>Cordialement,<br/>L'équipe du secrétariat OGD</p>

<p>
    Secrétariat Open Government Data<br/>
    Office fédéral de la statistique<br/>
    Espace de l'Europe 10<br/>
    CH-2010 Neuchâtel<br/>
    <a href="www.bfs.admin.ch/ogd">www.bfs.admin.ch/ogd</a>
</p>

<p>
    <a href="https://opendata.swiss">
        <img src="https://opendata.swiss/images/logo_horizontal.png" alt="opendata.swiss"
             width="420" style="max-width: 100%; height: auto;"/>
    </a>
</p>
<p>
    <a href="https://twitter.com/opendataswiss">
        <img src="https://opendata.swiss/images/x.svg" alt="X"
             style="color: #fff; background-color: #009688; border: 0;"/>
    </a>
</p>

<p>
    <a href="{{ manage_link }}">Gérer mes abonnements</a>
</p>

--

<p>Buongiorno,</p>

<p>{{ site_title }} subscription options<br/>

<p>
    To manage subscriptions for {{ email }}, click this link:<br/>
    <a href="{{ manage_link }}">{{ manage_link }}</a>
</p>

<p>Cordiali saluti<br/>Team Segreteria OGD</p>

<p>
    Segreteria Open Government Data<br/>
    Ufficio federale di statistica UST <br/>
    Espace de l’Europe 10, <br/>
    CH-2010 Neuchâtel<br/>
    <a href="www.bfs.admin.ch/ogd">www.bfs.admin.ch/ogd</a>
</p>

<p>
    <a href="https://opendata.swiss">
        <img src="https://opendata.swiss/images/logo_horizontal.png" alt="opendata.swiss"
             width="420" style="max-width: 100%; height: auto;"/>
    </a>
</p>
<p>
    <a href="https://twitter.com/opendataswiss">
        <img src="https://opendata.swiss/images/x.svg" alt="X"
             style="color: #fff; background-color: #009688; border: 0;"/>
    </a>
</p>

<p>
    <a href="{{ manage_link }}">Gestione abbonamento</a>
</p>

--

<p>Dear Sir/Madam,</p>

<p>{{ site_title }} subscription options<br/>

<p>
    To manage subscriptions for {{ email }}, click this link:<br/>
    <a href="{{ manage_link }}">{{ manage_link }}</a>
</p>

<p>Best regards,<br/>The OGD office team</p>

<p>
    Open Government Data Office<br/>
    Federal Statistical Office<br/>
    Espace de l'Europe 10<br/>
    CH-2010 Neuchâtel<br/>
    <a href="www.bfs.admin.ch/ogd">www.bfs.admin.ch/ogd</a>
</p>

<p>
    <a href="https://opendata.swiss">
        <img src="https://opendata.swiss/images/logo_horizontal.png" alt="opendata.swiss"
             width="420" style="max-width: 100%; height: auto;"/>
    </a>
</p>
<p>
    <a href="https://twitter.com/opendataswiss">
        <img src="https://opendata.swiss/images/x.svg" alt="X"
             style="color: #fff; background-color: #009688; border: 0;"/>
    </a>
</p>

<p>
    <a href="{{ manage_link }}">Manage my subscriptions</a>
</p>

</body>
