<p>Hello,</p>

<p>We inform you that the dataset "<b>{{ notifications[0].object_title_en }}</b>" you subscribed to has been removed from our portal by the
    data provider.</p>

<p>If you have any questions or need assistance finding similar datasets, please feel free to contact
    <b><a href="mailto:{{ notifications[0].contact_point_en[0]['email'] }}">{{ notifications[0].contact_point_en[0]['name'] }}</a></b> or explore our portal for alternative datasets.</p>

<p>Thank you for using opendata.swiss.</p>

<p>Best regards,</p>

<p>Team OGD Office</p>

<hr>

<p>Guten Tag</p>

<p>wir informieren Sie darüber, dass der Datensatz «<b>{{ notifications[0].object_title_de }}</b>», den Sie abonniert haben, vom
    Datenanbieter aus unserem Portal entfernt wurde.</p>

<p>Wenn Sie Fragen haben oder Hilfe bei der Suche nach ähnlichen Datensätzen benötigen, können Sie sich gerne an
    <b><a href="mailto:{{ notifications[0].contact_point_de[0]['email'] }}">{{ notifications[0].contact_point_de[0]['name'] }}</a></b> wenden oder in unserem Portal nach alternativen Datensätze suchen.</p>

<p>Vielen Dank, dass Sie opendata.swiss nutzen.</p>

<p>Freundliche Grüsse</p>

<p>Die Geschäftsstelle OGD</p>

<hr>

<p>Bonjour</p>

<p>Nous vous informons que le jeu de données «<b>{{ notifications[0].object_title_fr }}</b>» auquel vous vous êtes abonné-e a été
    retiré de notre portail par le fournisseur de données.</p>

<p>Si vous avez des questions ou besoin d'aide pour trouver des jeux de données similaires, n'hésitez pas à contacter
    <b><a href="mailto:{{ notifications[0].contact_point_fr[0]['email'] }}">{{ notifications[0].contact_point_fr[0]['name'] }}</a></b> ou à rechercher des jeux de données alternatifs sur notre portail.</p>

<p>Nous vous remercions d'utiliser opendata.swiss.</p>

<p>Cordialement,</p>

<p>Le Secrétariat OGD</p>

<hr>

<p>Buongiorno,</p>

<p>La informiamo che il dataset "<b>{{ notifications[0].object_title_it }}</b>" a cui si è iscritto/inscritta è stato rimosso dal
    nostro portale dal fornitore di dati.</p>

<p>Se ha domande o bisogno di assistenza per trovare set di dati simili, non esiti a contattare
    <b><a href="mailto:{{ notifications[0].contact_point_it[0]['email'] }}">{{ notifications[0].contact_point_it[0]['name'] }}</a></b> o a esplorare il nostro portale per trovare set di dati alternativi.</p>

<p>Grazie per aver utilizzato opendata.swiss.</p>

<p>Cordiali saluti,</p>

<p>La Segreteria OGD </p>

<p></p>

--

<p><b>Open Government Data Office</b></p>

<p>Federal Statistical Office</p>

<p>Espace de l'Europe 10</p>

<p>CH-2010 Neuchâtel</p>

<p><a href="http://www.bfs.admin.ch/ogd">www.bfs.admin.ch/ogd</a></p>
