{% import 'macros/form.html' as form %}

{% set relations_rows = h.ogdch_relations_form_helper(data) %}
{%- for row in relations_rows -%}
  <h4 class="relation-label {{row.css_class}}">{{h.scheming_language_text(field.label) ~ ' ' ~ row.index}}</h4>

  {% for lang in h.fluent_form_languages(field, entity_type, object_type, schema) %}
    {% call form.input(
      'relation-label-' ~ row.index ~ '-' ~ lang,
      id='field-relation-label-' ~ row.index ~ '-' ~ lang,
      label=lang.upper() ~ ' ' ~ h.scheming_language_text(field.label_text, lang),
      placeholder=h.scheming_language_text(field.form_placeholder_text, lang),
      value=row.data.label[lang],
      error=errors['relations'],
      classes=['control-medium', row.css_class]
      ) %}
    {% endcall %}
  {% endfor %}

  {% call form.input(
    'relation-url-' ~ row.index,
    id='field-relation-url-' ~ row.index,
    label=h.scheming_language_text(field.label_url),
    type="url",
    placeholder=h.scheming_language_text(field.form_placeholder_url),
    value=row.data.url,
    error=errors['relations'],
    classes=['control-medium', row.css_class]
    ) %}
  {% endcall %}
{%- endfor -%}
{%- snippet 'scheming/form_snippets/help_text.html', field=field -%}

<a data-module="ogdch_relations_add_rows"
      id="ogdch_relations_add_row"
      class="btn btn-default ogdch-btn-add-row"
      href="#ogdch_relations_pagemark">
  {{ h.scheming_language_text(field.add_row) }}
</a>
