/*------------------------------------------------------*/
/* css for forms in the backend of opendata.switzerland */
/*------------------------------------------------------*/

/*------------------------------------------------------*/
/* dataset form                                         */
/*------------------------------------------------------*/

/* hide empty rows for list form fields */
.ogdch-hide-row {
  display: none;
}

.ogdch-btn-add-row {
  margin-bottom: 50px;
  background: lightgray;
}

input[value]:not([value=""]) {
  border:1px solid black;
}
