.organization-hierarchy li.organization {
    display: none; }
.organization-hierarchy li.organization.childmatch {
    display: list-item; }
.organization-hierarchy li.organization.match {
    display: list-item; }
.organization-hierarchy li.organization.match .organization-row .highlight {
    background-color: #e4eeed; }
.organization-hierarchy.empty-search li.organization {
    display: list-item; }
.organization-hierarchy.empty-search li.organization .organization-row a .highlight {
    background-color: transparent; }
