
.js .file-upload #field-file-url {
    padding-right: 90px;
}
.js .file-upload #field-file-upload {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
}
.js .file-upload .controls {
    position: relative;
}
.js .file-upload .btn {
    position: relative;
    top: 0;
    margin-right: 10px;
}
.js .file-upload .btn.hover {
    color: #ffffff;
    background-color: #164959;
    border-color: #0f323c;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.js .file-upload .btn-remove-url {
    position: absolute;
    margin-right: 0;
    top: 6px;
    right: 5px;
    padding: 0 12px;
    border-radius: 100px;
}
.js .file-upload .btn-remove-url .icon-remove {
    margin-right: 0;
}
.js .file-upload .error-inline {
    margin-top: 5px;
    margin-left: 2px;
    font-weight: bold;
}
#dataset-import {
    float: right;
    display: flex;
}
#dataset-import label {
    display: none;
}
#dataset-import .dataset-import-button:hover {
    color: #ffffff;
}
