{% ckan_extends %}

  {#
  Builds a file upload for input

  Example
  {% import 'macros/form.html' as form %}
  {{ form.file_upload(data, errors, is_upload_enabled=true) }}

  #}
{% macro file_upload(data, errors, field_url='file_url', field_upload='file_upload', field_clear='clear_upload',
                      is_url=false, is_upload=false, is_upload_enabled=false, placeholder=false,
                      url_label='', upload_label='', field_name='file_url')  %}
  {% set placeholder = placeholder if placeholder else _('http://example.com/my-file.jpg') %}
  {% set url_label = url_label or _('File URL')  %}
  {% set upload_label = upload_label or _('File')  %}
  {% set previous_upload = data['previous_upload'] %}

  {% if is_upload_enabled %}
    <div class="file-upload"
         data-module="ogdch_file_upload"
         data-module-is_url="{{ 'true' if is_url else 'false' }}"
         data-module-is_upload="{{ 'true' if is_upload else 'false' }}"
         data-module-field_url="{{ field_url }}"
         data-module-field_upload="{{ field_upload }}"
         data-module-field_clear="{{ field_clear }}"
         data-module-upload_label="{{ upload_label }}"
         data-module-field_name="{{ field_name }}"
         data-module-previous_upload="{{ 'true' if previous_upload else 'false' }}">

    {{ input(field_url, label=url_label, id='field-file-url', type='url', placeholder=placeholder, value=data.get(field_url), error=errors.get(field_url), classes=['control-full']) }}
    {{ input(field_upload, label=upload_label, id='field-file-upload', type='file', placeholder='', value='', error='', classes=['control-full']) }}
    {% if is_upload %}
      {{ checkbox(field_clear, label=_('Clear Upload'), id='field-clear-upload', value='true', error='', classes=['control-full']) }}
    {% endif %}
    </div>
  {% endif %}
{% endmacro %}

{#
Creates all the markup required for a date-type input element. Uses
bootstrap-datepicker to allow localising the date.

name        - The name of the form parameter.
id          - The id to use on the input and label. Convention is to prefix with 'field-'.
label       - The human readable label.
value       - The value of the input.
placeholder - Some placeholder text.
error       - A list of error strings for the field or just true to highlight the field.
classes     - An array of classes to apply to the form-group.
is_required - Boolean of whether this input is requred for the form to validate

Examples:

{% import 'macros/form.html' as form %}
{{ form.input('title', label=_('Title'), value=data.title, error=errors.title) }}

#}

{% macro date_input(name, id='', label='', value='', placeholder='', language='de', error="",
                    classes=[], attrs={'class': 'form-control'}, is_required=false) %}
{%- set extra_html = caller() if caller -%}

{% call input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
<input id="{{ id or name }}"
       data-module="ogdch_datepicker"
       class="datepicker datepicker-{{ language }}"
       type="text"
       name="{{ name }}"
       value="{{ value | empty_and_escape }}"
       placeholder="{{ placeholder }}"
       {{ attributes(attrs) }} />
{% endcall %}
{% endmacro %}
