{% ckan_extends %}

{% if group_type is not defined %}
  {% set group_type = c.group_type %}
{% endif %}

{% set schema = h.scheming_get_organization_schema(group_type) %}
{% set display_name = h.scheming_language_text(c.group_dict['display_name']) or h.scheming_language_text(c.group_dict['title']) %}

{% block subtitle %}{{ display_name }} {{ g.template_title_delimiter }} {{ _('Organizations') }}{% endblock %}

{% block breadcrumb_content %}
  {% snippet "snippets/organization_breadcrumb.html", organization=c.group_dict %}
{% endblock %}
