{% ckan_extends %}

{% set schema = h.scheming_get_organization_schema(group_type) %}
{% set display_name = h.scheming_language_text(group_dict['display_name']) or h.scheming_language_text(group_dict['title']) %}

{% block subtitle %}{{ display_name }} {{ g.template_title_delimiter }} {{ h.humanize_entity_type('organization', group_type, 'page title') or _('Organizations') }}{% endblock %}

{% block breadcrumb_content %}
  {% snippet "snippets/organization_breadcrumb.html", organization=group_dict %}
{% endblock %}
