{% ckan_extends %}

{% import 'macros/form.html' as form %}

{% block page_primary_action %}
  {% if h.check_access('package_create', {'owner_org': group_dict.id}) %}
    {% snippet 'snippets/add_dataset.html', group=group_dict.id %}

    {% set action = h.url_for('ogdch_organization.xml_upload', name=c.group_dict.name) %}
    <form id="dataset-import" class="form-inline" method="post" action="{{ action }}" enctype="multipart/form-data">
      {{ h.csrf_input() }}
      {{ form.file_upload(
        {'file_url': ''},
        {'file_url': ''},
        is_upload_enabled=h.uploads_enabled(),
        is_url=False,
        is_upload=False,
        upload_label=_('Add datasets from XML')
      ) }}
      <div class="form-actions">
        <button class="btn btn-default" id="dataset-import-button" type="submit">
          {{ _('Submit') }}
        </button>
      </div>
    </form>

  {% endif %}
{% endblock %}
